[Unit]
Description=mongod service
After=docker.service
Requires=docker.service
After=etcd.service
Requires=etcd.service
After=mongodata@%i.service
Requires=mongodata@%i.service

[Service]
KillMode=none
TimeoutStartSec=360
TimeoutStopSec=360
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/etcdctl set /mongodb/rs/rs1/shard%i ${COREOS_PUBLIC_IPV4}:27017
ExecStartPre=/usr/bin/docker pull {{ mongod_image_name }}
ExecStartPre=-/usr/bin/docker rm -f mongod%i
ExecStart=/usr/bin/docker run -p 27017:27017 --name mongod%i --volumes-from mongodata%i {{ mongod_image_name }}
ExecStop=/usr/bin/docker stop -t 60 mongod%i
ExecStopPost=-/usr/bin/docker rm -f mongod%i
ExecStopPost=/usr/bin/etcdctl rm /mongodb/rs/rs1/shard%i
Restart=on-failure

[X-Fleet]
Conflicts=%p@*.service
MachineOf=mongodata@%i.service
