FROM {{ mongo_image_name }}
MAINTAINER "Pablo Torres" <pablo.torres.t@gmail.com>

#Add files
COPY mongoc /etc/init.d/mongoc
COPY mongoc.toml /etc/confd/conf.d/mongoc.toml
COPY mongoc.conf.tmpl /etc/confd/templates/mongoc.conf.tmpl
COPY confd-watch-mongoc /usr/local/bin/confd-watch
RUN touch /etc/mongoc.conf
RUN chmod +x /etc/init.d/mongoc
RUN chmod +x /usr/local/bin/confd-watch
RUN update-rc.d mongoc defaults

EXPOSE 27019
ENTRYPOINT ["/usr/local/bin/confd-watch"]
