FROM {{ mongo_image_name }}
MAINTAINER "Pablo Torres" <pablo.torres.t@gmail.com>

ADD mongoc.conf /etc/mongoc.conf
ENTRYPOINT ["/usr/bin/mongod"]

# Expose ports.
#   - 27019: config srv
EXPOSE 27019
CMD ["-f", "/etc/mongoc.conf"]
