[Unit]
Description=mongod service
After=docker.service
Requires=docker.service
After=etcd.service
Requires=etcd.service

[Service]
KillMode=none
TimeoutStartSec=360
TimeoutStopSec=360
EnvironmentFile=/etc/environment
Environment="MONGO_ARGS=--configdb" "MONGO_TMP_CFGS=/tmp/mongocfgs" "MONGO_CFGS=/home/core/mongocfgs"
ExecStartPre=/bin/bash -c '\
	rm -f $MONGO_TMP_CFGS; \
	rm -f $MONGO_CFGS; \
	mongoctls=`/usr/bin/etcdctl ls /mongodb/cfgs`; \
	for entry in $mongoctls; do \
		db=`/usr/bin/etcdctl get $entry`; \
		echo -n "$db," >> $MONGO_TMP_CFGS; \
	done; \
	cat $MONGO_TMP_CFGS | /usr/bin/sed "s/.$//" > $MONGO_CFGS; \
	'
ExecStartPre=/usr/bin/docker pull {{ mongodb_image_name }}
ExecStartPre=-/usr/bin/docker rm -f mongos%i
ExecStart=/bin/bash -c '\
	MONGO_CFGS_CMD=`cat $MONGO_CFGS`; \
	/usr/bin/docker run -p 27017:27017 --name mongos%i --entrypoint /usr/bin/mongos {{ mongodb_image_name }} $MONGO_ARGS $MONGO_CFGS_CMD; \
	'
ExecStop=/usr/bin/docker stop -t 60 mongos%i
ExecStopPost=-/usr/bin/docker rm -f mongos%i
Restart=on-failure

[X-Fleet]
Conflicts=mongodb@*.service
Conflicts=%p@*.service
