[Unit]
Description=mongod service
After=docker.service
Requires=docker.service
After=etcd.service
Requires=etcd.service
After=mongos@%i.service
Requires=mongos@%i.service
PartOf=mongos@%i.service

[Service]
KillMode=none
TimeoutStartSec=360
TimeoutStopSec=360
EnvironmentFile=/etc/environment
Environment="MONGO_SHARDS=/home/core/mongoshards"
ExecStartPre=/bin/bash -c '\
	rm -f $MONGO_SHARDS; \
	mongoshards=`/usr/bin/etcdctl ls /services/mongo/mongod`; \
	for entry in $mongoshards; do \
		echo $entry; \
		/usr/bin/etcdctl get $entry >> $MONGO_SHARDS; \
	done; \
	'
ExecStartPre=/usr/bin/docker pull {{ mongo_image_name }}
ExecStart=/bin/bash -c '\
	MONGO_SHARDS_CMD=`cat $MONGO_SHARDS`; \
	for SHARD in $MONGO_SHARDS_CMD; do \
		/usr/bin/docker exec mongos%i /usr/bin/mongo --eval "sh.addShard(\'$SHARD\')"; \
	done; \
	/usr/bin/docker exec mongos%i /usr/bin/mongo admin --eval "db.addUser({user:\'admin\',pwd:\'123456\',roles:[\'userAdminAnyDatabase\',\'clusterAdmin\',\'readWriteAnyDatabase\',\'dbAdminAnyDatabase\']})"; \
	/usr/bin/docker exec mongos%i /usr/bin/mongo admin -u admin -p 123456 --eval "db.addUser({user:\'root\',pwd:\'123456\',roles:[\'root\']})";\
	'

[X-Fleet]
MachineOf=mongos@%i.service

