FROM {{ mongo_image_name }}
MAINTAINER "Pablo Torres" <pablo.torres.t@gmail.com>

ADD mongod.conf /etc/mongod.conf
ENTRYPOINT ["/usr/bin/mongod"]

# Expose ports.
#   - 27017: process
#   - 28017: http
EXPOSE 27017
EXPOSE 28017
CMD ["-f", "/etc/mongod.conf"]
